<html>
    <head>
        <title>get으로 정보 받기</title>
        
    </head>
    
    <body>
        
        <form action="/ex3031-receive"  method="POST">
            폼 전송 - 실습<br>

        <fieldset>
            <legend>개인 정보/필수 입력</legend>
            <label>이름
                <input type="text" name="name" required>
            </label><br>
            성별 
            <label>
                <input type="radio" name="gender" value="남자" required>남자
            </label>
            <label>
                <input type="radio" name="gender" value="여자">여자
            </label><br>
            패스워드
            <input type="password" name="password">
            

        </fieldset>
        
        <fieldset>
            <legend>추가 정보/선택 입력</legend>

            생년월일 
            <select name="year">
                
                <%for(var year = 1950; year<=2022; year++){%>
                    <option value=<%=year%>><%=year%></option>
                <%}%>
                
            </select>년 
    
            <select name="month">
                
                <%for(var month = 1; month<=12; month++){%>
                    <option value=<%=month%>><%=month%></option>
                <%}%>
                
            </select>월 
    
            <select name="day">
                
                <%for(var day = 1; day<=31; day++){%>
                    <option value=<%=day%>><%=day%></option>
                <%}%>
                
            </select>일<br>

            관심사 
            <input type="checkbox" name="interest" value="여행">여행
            <input type="checkbox" name="interest" value="패션">패션
            <input type="checkbox" name="interest" value="음식">음식
        <br>
            좋아하는 색깔
            <input type="color" value="color" name="myBestColor">
        </fieldset>
        
        
        <button type="submit">회원가입</button>
        <input type="reset" value="Reset">



        </form>
        




    </body>
</html>