<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImgView</title>
</head>
<body>
    <img src="../profiles/<%=profileimg%>" width=100 alt="">
    <div>
        <p> id = <%=id%> </p>
        <p> pw = <%=passwd%> </p>
        <p> name = <%=name%> </p>
        <p> old = <%=age%></p>
        
    </div>
</body>
</html>